body,
html{
    margin: 0;
    padding: 0;
}
*,
**::before,
**::after{
    box-sizing: border-box;
}
.body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    background-color: blue;
    width: 50rem;
    height: 30rem;
}