body,
html{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
body{
   width: 100vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: overlay;
    
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
   background-color: black;
   border-radius: 10px;
}
.navbar{
  width: 100%;
    height: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: #929192;
}
.first-image img{
    height: 3rem;
    width: 3rem;
}
.navlinks{
    height: 4rem;
    width: 30rem;
    display: flex;
    justify-content: space-around;
}
.navlinks p:hover{
    color: black;
    border-bottom: 2px solid black;
    cursor: pointer;
    transition: 0.5s;
}
.navlinks input{
    height: 1rem;
    margin-top: 1rem;
    outline: none;
    border-style: none;
    border-bottom: 1px solid gray;
}
.first-line{
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid #f0eff0;
}
.watches{
    height: 30rem;
    width: 30rem;
    background-image: url("./image/watches.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right -13rem bottom;
    
}
.freedom{
    margin-bottom: 12rem;
    margin-left: 15rem;
    
}
.para{
    padding-left: 1rem;
    border-left: 2px solid #848384;
    line-height: 1.4 ;
    color:#a2a1a2
}
.keynote{
    padding: 0.5rem;
   width: 10rem;
    background-color: #e95855;
    width: fit-content;
    color: #fffefb;
}
.keynote:hover{
    background-color: #da5250;
    cursor: pointer;
    transition: 0.5s;
}
.second1{
    height: 20rem;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 12rem;
}
.runs{
    font-weight: bolder;
}
.runs-out{
    padding-right: 3rem;
}
.rounded-para{
    height: 3rem;
    width: 5rem;
    display: flex;
    column-gap: 0.5rem;
}
.rounded{
    height: 0.25rem;
    width: 0.25rem;
    background-color:#bfbebf;
    border-radius: 50%;
}
.dash{
    height: 2rem;
    width: 15rem;
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
    color: #e95855;
    font-weight: bold;
    font-size: 14px;
}
.dash:hover .dasher{
    transition: 1s;
    width: 3rem;
    cursor: pointer;
}
.dash:hover{
    cursor: pointer;
}
.dasher{
    width: 2rem;
    height: 0.1rem;
    background-color: #e95855;
    margin-top: 1.4rem;
    transition: 0.5s;  
}

.lettering{
    line-height: 1.5;
}
.preview{
    height: 30rem;
    width: 30rem;
    background-image: url("./image/preview.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 2rem;
    margin-right: 15rem;
}
.ending{
    height: 28rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid black;
} 
.nike{
   margin-bottom: 6rem;
    margin-left: 14rem;
}
.done-it{
    height: 43rem;
    width: 100%;
    background-image: url("./image/runners.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom -10rem;
}
.done-it{
    color: white;
}
.reedem{
    height: 40rem;
    width: 100%;
    margin-left: 12rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.para.me{
    margin-left: 14rem;
    color: white;
    font-weight: bold;
    border-left: 2px solid white;
}
h3{
    font-size: 30px;
    color: #2e2c2e;
}
.keynote.explore{
    margin-right: 5rem;
}
.bigger{
    color: white;
}
